body{
  background-color: powderblue;
}
h1{
  font-size: 60px;
  border: 1px solid blue;
  padding: 10px
}
p{
  margin: 10px
}
p.Role{
  color:yellow;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
