@charset "UTF-16";
body{
  background-color: powderblue;
  background-image: url('kepek/lol.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  font-size: 60px;
  border: 1px solid blue;
  padding: 10px
}
p{
  margin: 10px
}
p.Role{
  color:yellow;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th,td{
  color: #dddddd;
  border: 1px solid #dddddd;
  text-align:center;
  padding: 4px;
}
ul{
  list-style-type: none;
  margin 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  width: 25%;
}
li a{
  background-color: #000015;
  border: 1px solid #000000;
  display: block;
  color: white;
  height: 50px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
li a:hover{
  background-color: #000000;
}
.egyosztaly{
  color:pink;
}
@@media screen and (max-width:800px) {
  ul{
    color: #dddddd;
    border: 1px solid #dddddd;
    text-align:center;
    padding: 4px;
    width: 100%;
  }
}

.kilepo{
  color:white;
}
