@charset "UTF-16";
body{
  background-color: #001017;
  /*background-image: url('kepek/bk.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  */
  margin: 0 !important;
  padding: 0 !important;
  height: 125vh;
  font-family: sans-serif;
  margin-top: 80px;
  overflow-x: hidden;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(72,6,110,0.4);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}

header{
  position: -webkit-sticky;
  position: sticky;
  background-color: #001017;
  border: 8px solid black;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header img {
  height: 60px;
  margin-left: 20px;
}
header *{
  display:inline;
}
header li{
  margin: 30px;
}
header li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 2px;
}
header li a:hover{
   text-shadow: 5px 5px 5px black;
   color:#cdba87;
}


header .dropdown li {
  margin: 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 2px;
}
header .dropdown{
  float:center;
  overflow: hidden;
}
header .dropdown-content{
  display: none;
  position:absolute;
  background-color: rgb(0,16,23,0.6);
  min-width: 100px;;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
header .dropdown-content a{
  float: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  border: 2px solid black;
  border-top: 0px;
  font-family: "Calibri",sans-serif;
  font-size: 15px;
  padding-left: 0px;
  padding-right: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}
header .dropdown:hover{
  background-color: #001017;
}
header .dropdown li:hover{
  text-shadow: 5px 5px 5px black;
  color:#cdba87;
}

header .dropdown:hover .dropdown-content{
  display:inline-grid;
}
header .dropdown .dropdown-content a:hover{
  text-shadow: 3px 3px 3px black;
  color:#cdba87;
  background-color: rgba(255, 255, 255, 0.5);
}

header .dropdown .dropdown-content #insta:hover{
  text-shadow: 3px 3px 3px black;
  color:#cf4667;
}
header .dropdown .dropdown-content #face:hover{
  text-shadow: 3px 3px 3px black;
  color:#4267b2;
}
header .dropdown .dropdown-content #github:hover{
  text-shadow: 3px 3px 3px black;
  color:white;
}
header li #login:hover{
  color:white;
}


.wrapper{
  background-image: url('kepek/bek.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}
.szoveg{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border: 2px solid white;
  text-align: center;
  color:white;
}
.wrapper h1{
  padding-top:270px;
  padding-bottom:270px;
  padding-left:100px;
  padding-right:100px;
  text-transform: uppercase;
  font-family: "Calibri",sans-serif;
  font-weight: 300;
  text-shadow: 5px 5px 15px black;
  font-size: 70px;
  letter-spacing: 5px;
}
.intro{
  padding-top: 270px;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  color:white;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 50px;
}
.roles{
  margin-top: -20px;
  padding-top: 0px;
  text-align: center;
}
.roles p{
  color:#cdba87;
  text-transform: uppercase;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 75px;
  letter-spacing: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.separator{
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.sumicon{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.roles .frunci{
  margin-top: 20px;
  height: 800px;
  background-image: url('kepek/morde.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}


.roles .frunci .left-side{
  margin-top: 100px;
  float:left;
  margin-left: 25%;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .frunci .right-side{
  margin-top: 100px;
  float:left;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .frunci .left-side h1{
  border: 4px solid #cdba87;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 60px;
  text-transform: uppercase;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  text-align: top left;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .frunci .right-side .szerep p{
  font-family: "Calibri",sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  letter-spacing: 2px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .frunci .right-side .szerep{
  border: 4px solid #cdba87;
  text-align: left;
  padding-left: 5px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}


.roles .tamas{
  margin-top: 20px;
  height: 800px;
  background-image: url('kepek/graves.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}


.roles .tamas .left-side{
  margin-top: 100px;
  float:left;
  margin-left: 25%;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .tamas .right-side{
  margin-top: 100px;
  float:left;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .tamas .left-side h1{
  border: 4px solid #cdba87;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 60px;
  text-transform: uppercase;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  text-align: top left;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .tamas .right-side .szerep p{
  font-family: "Calibri",sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  letter-spacing: 2px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .tamas .right-side .szerep{
  border: 4px solid #cdba87;
  text-align: left;
  padding-left: 5px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}

.roles .kristof{
  margin-top: 20px;
  height: 800px;
  background-image: url('kepek/jayce.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}


.roles .kristof .left-side{
  margin-top: 100px;
  float:left;
  margin-left: 25%;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .kristof .right-side{
  margin-top: 100px;
  float:left;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .kristof .left-side h1{
  border: 4px solid #cdba87;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 40px;
  text-transform: uppercase;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  text-align: top left;
  margin: 5px;
  padding: 22px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .kristof .right-side .szerep p{
  font-family: "Calibri",sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  letter-spacing: 2px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .kristof .right-side .szerep{
  border: 4px solid #cdba87;
  text-align: left;
  padding-left: 5px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}




.roles .norbi{
  margin-top: 20px;
  height: 800px;
  background-image: url('kepek/draven.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}


.roles .norbi .left-side{
  margin-top: 100px;
  float:left;
  margin-left: 25%;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .norbi .right-side{
  margin-top: 100px;
  float:left;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .norbi .left-side h1{
  border: 4px solid #cdba87;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 60px;
  text-transform: uppercase;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  text-align: top left;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .norbi .right-side .szerep p{
  font-family: "Calibri",sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  letter-spacing: 2px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .norbi .right-side .szerep{
  border: 4px solid #cdba87;
  text-align: left;
  padding-left: 5px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}


.roles .anna{
  margin-top: 20px;
  height: 800px;
  background-image: url('kepek/janna.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}


.roles .anna .left-side{
  margin-top: 100px;
  float:left;
  margin-left: 25%;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .anna .right-side{
  margin-top: 100px;
  float:left;
  border: 2px solid #69be8f;
  width: 25%;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .anna .left-side h1{
  border: 4px solid #cdba87;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 60px;
  text-transform: uppercase;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  text-align: top left;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .anna .right-side .szerep p{
  font-family: "Calibri",sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:#cdba87;
  text-shadow: 5px 5px 15px black;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
  letter-spacing: 2px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.roles .anna .right-side .szerep{
  border: 4px solid #cdba87;
  text-align: left;
  padding-left: 5px;
  box-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.media p{
  color:#cdba87;
  text-transform: uppercase;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 75px;
  letter-spacing: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
.media{
  margin-top: -20px;
  padding-top: 0px;
  text-align: center;
}
.row1 img:hover{
  box-shadow: 1px 0px 70px 10px rgba(0,0,0,0.3);
}

footer{
  color:#cdba87;
  font-family: "Calibri",sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 0px 75px 32px rgba(0,0,0,0.75);
}
#testbody header{
  background-color: #333;
  border: 2px solid black;
}
#testbody{
  background-color: #001017;
  background-image: url('kepek/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
  height: 125vh;
  font-family: sans-serif;
  margin-top: 80px;
  overflow-x: hidden;
}
.backtofirst{
  width: 33%;
  text-align: center;
}
.backtofirst button{
  margin-left: auto;
  margin-right: auto;
}
.maintext{
  width: 33%;
  text-align: center;
}
.restart{
  width: 33%;
  text-align: center;
}
.restart button{
  margin-left: auto;
  margin-right: auto;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #cdba87;
  color: #cdba87;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #69be8f;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #69be8f;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Calibri",sans-serif;;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}
h1.deepshadow {
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
.maintext h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 60px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

#testbody main{
  margin-left: 20%;
  margin-right: 20%;
  height: 4650px;
  border: 2px solid white;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #001017;
  text-align: center;
}
#testbody main h1{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}



#container {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 0px;
  position: center;
  padding-top: 5px;
  bottom: 45%;
  display: block;
  text-align: center;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #69be8f;
}
#flip div:first-child div {
  background: #cdba87;
}
#flip div:last-child div {
  background: #69be8f;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
.form form h2 label{
  display: block;
}
.form form h2 input{
  width: 30px;
}
.form form h2 {
  clear: both;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
.form form button{
  width: 100px;
  margin-top: 20px;
}
.form form {
  color: white;
}
.form{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

#testbody #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(105,190,143,0.4);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#testbody #myBtn:hover {
  background-color: #555;
}





@media only screen and (max-width:800px) {

}
